{% extends 'apartments/base.html' %}
{% load cloudinary %}
    {% block content %}
        {% if user.is_authenticated %}
            <div class="ui grid container very padded "><h1>  Congrats {{request.user.get_full_name}}! What can we help you find? </h1></div>
        {% else %}
            <div class="ui grid container very padded "><h1>  Welcome, What can we help you find? </h1></div>
        {% endif %}
        <div class="ui grid container">
            {% for apartment in apartments %}
                <div class="four wide column">
                    <div class="ui yellow raised card">
                        <div class="ui slide masked reveal image">
                            <img src="{% cloudinary_url apartment.picture default_image='sample.jpg' %}" class="visible content">
                            <img src="{% cloudinary_url apartment.picture default_image='sample.jpg' %}" class="hidden content">
                        </div>
                        <div class="content">
                            <a class="header" href="{% url 'apartments:detail' apartment.id %}">{{ apartment.title }}</a>
                            <div class="meta">
                                <span class="date">Available: {{ apartment.available }}</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                            <i class="dollar icon"></i>
                                {{ apartment.rent }} per NYSC year
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endblock %}