<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <title>Title</title>
</head>
<body>

    <div class="ui massive menu">

        <div class="left menu">
            <div class="item">
                <div class="ui icon input">
                    <input placeholder="Search..." type="text">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>

        <a class="header item active">
            Home
        </a>
        <div>
            <a class="item" href="{% url 'profiles:detail' user.id %}">Profile</a>
        </div>
        <div>
            <a class="ui yellow massive button">Logout</a>
        </div>

    </div>


        {% if messages %}
        <ul class="ui success message">
        <i class="close icon"></i>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% block content %}

    {% endblock %}

    <script src="{% static 'javascript/semantic.js' %}"></script>
    <script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>