<!DOCTYPE html>
{% load staticfiles %}
{% load cloudinary %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}"/>
    <title>Accommodation</title>
</head>
<body>
    {% if user.is_authenticated %}

    <div class="ui menu">

        <div class="left menu">
            <div class="item">
                <div class="ui icon input">
                    <input placeholder="Search..." type="text">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>

        <a class="header yellow item active" href="{% url 'apartments:list' %}">
            Home
        </a>

        <a class="header yellow item active" href="{% url 'profiles:detail' user.profile.id %}">Profile</a>

        <a class="ui yellow button" href="{% url 'accounts:logout' %}">Sign out</a>


    </div>
    {% else %}

    <div class="ui menu">

        <a class="header yellow item active" href="{% url 'apartments:list' %}">
            Home
        </a>

        <a class="header yellow item active" href="">How It Works</a>


        <a class="ui button" href="{% url 'accounts:login' %}">Sign in</a>


        <a class="ui yellow button" href="{% url 'accounts:tenant_signup' %}">Sign up</a>


    </div>

    <div class="your-class">
        <img src="{% cloudinary_url 'sammie-vasquez-582770-unsplash.jpg' width=1366 height=400 crop='fill' %}">
        <img src="{% cloudinary_url 'naomi-hebert-188183-unsplash.jpg' width=1366 height=400 crop='fill' %}">
        <img src="{% cloudinary_url 'naomi-hebert-188443-unsplash.jpg' width=1366 height=400 crop='fill' %}">
        <img src="{% cloudinary_url 'iam-se7en-657490-unsplash.jpg' width=1366 height=400 crop='fill' %}">
    </div>


    {% endif %}


        {% if messages %}
        <ul class="ui success message">
        <i class="close icon"></i>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% block content %}

    {% endblock %}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'javascript/slick.js' %}"></script>
    <script src="{% static 'javascript/semantic.js' %}"></script>
    <script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>